.slider-image{
    height: 150px;
}
.portfolio{
    background: url(../images/414612.jpeg) no-repeat;
    background-size: 100%;
}
.blur-white-text{
    color: #FFF;
    background-color: rgba(0,0,0,0.3)
}

.experience{
    background: url(../images/download.jpeg) no-repeat;
    background-size: 100%;
}
.about{
    background: url(../images/414612.jpeg) no-repeat;
    background-size: 100%
}
.exp{
    text-align:center;
    text-decoration: underline;
}
